<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg">
    <div class="row">
      <div class="col-4 logoLeft">
        <a class="navbar-brand" href="#"
          ><img src="../../../assets/images.png" alt="BookMyShow"
        /></a>
      </div>
      <div class="col-4">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search for movies,Events,plays,sports"
          aria-label="Search"
        />
      </div>
      <!-- <div class="col-2">
        <p>location</p>
      </div> -->
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="row">

          <div class="navbar-nav subnav">
            <a class="nav-item nav-link" href="#">Movies</a>
            <a class="nav-item nav-link" href="#">Stream</a>
            <a class="nav-item nav-link" href="#">Events</a>
            <a class="nav-item nav-link" href="#">Plays</a>
            <a class="nav-item nav-link" href="#">Sports</a>
            <a class="nav-item nav-link" href="#">Activities</a>
          </div>
        </div>


          <div class="navbar-nav subnav1">
            <a class="nav-item nav-link" href="#">List Your Show </a>
            <a class="nav-item nav-link" href="#">Corporates</a>
            <a class="nav-item nav-link" href="#">Offers</a>
            <a class="nav-item nav-link" href="#">Gift Cards</a>
          </div>
        </div>



  </nav>
</div>

